
<input type="radio" value="1" [checked]="isChecked == 1">1<br>
<input type="radio" value="2" [checked]="isChecked == 2">2<br>
<input type="radio" value="3" [checked]="isChecked == 3">3<br>
<input type="radio" value="4" [checked]="isChecked == 4">4<br>
<input type="radio" value="5" [checked]="isChecked == 5">5<br>
<input type="radio" value="6" [checked]="isChecked == 6">6<br>
<input type="radio" value="7" [checked]="isChecked == 7">7<br>
<input type="radio" value="8" [checked]="isChecked == 8">8<br>
<input type="radio" value="9" [checked]="isChecked == 9">9<br>
<input type="radio" value="10" [checked]="isChecked == 10">10<br>
<br><br>
<input type="number" #abc>
<input type="submit" (click)="selectedNumber(abc.value)">
